<footer >
<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
  <div class="footer_container">
  <ul class="footer_list">
  <li class="text_left">
    <a href="https://rs.school/" target="_blank">
      <img src="assets/images/rsschool-logo_250x150.png" alt="logo">
    </a>
  </li>
  <li class="text_right">
    <a href="https://github.com/EkaterinaTokar" target="_blank">
      <img src="assets/images/logo-github_250x150.png" alt="logo-github">
    </a>
  </li>
  </ul>
    <time class="data" datetime="2023-07-31">{{'July 31, 2023' | translate}}</time>
  </div>
    </mat-toolbar-row>
</mat-toolbar>
</footer>
