.mat-toolbar-multiple-rows {
  flex-direction: row;
  justify-content: space-between;
}
.mat-toolbar-row{
 justify-content: space-between;
  margin: 0 15px;
}
.logo{
  cursor:pointer
}
.header_buttons__lists{
  list-style: none;
  display: flex;
}
.header_buttons__item{
  margin: 0 10px;
}
