.mat-toolbar-multiple-rows {
  flex-direction: row;
  justify-content: space-between;
}
.mat-toolbar-row{
  width: 30%;
}
.logo{
  cursor:pointer
}
.header_buttons{
  list-style: none;
  display: flex;
}
