
<div class="board">
  <button (click)="goBack()">Back</button>
  <h2>Columns</h2>
  <button (click)="openModuleForm()">create column</button>
  <div class="columns">
    <div class="column"  *ngFor="let column of columns">
      <button (click)="deleteColumn(column.boardId, column._id)">Delete column</button>
      <button (click)="openModuleFormTask(column.boardId, column._id)">Create task</button>
      <div *ngIf="!column.isEditing" (click)="toggleEdit(column)">
        {{ column.title }}
      </div>
      <div *ngIf="column.isEditing">
        <input type="text" [(ngModel)]="column.editedTitle" />
        <button (click)="onCancel(column)">Отмена</button>
        <button (click)="onSave(column)">Сохранить</button>
      </div>
      <p>Order: {{ column.order }}</p>
      <div class="tasks" *ngFor="let task of column.tasks">
        <div class="task">
          <h4>{{ task.title }}</h4>
          <p>{{ task.description }}</p>
          <button (click)="deleteTask(task.boardId, task.columnId, task._id)">Delete task</button>
        </div>
      </div>
  </div>
  </div>
</div>
