.board{
  max-width: 800px;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
}
.tasks{
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
